* {
    background-color: #1b1b1e;
    color: #ffffff;
}
.project_card h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #FFFFFF;
    padding-top: 68px;
    padding-left: 16px;
    padding-right: 67px;
    padding-bottom: 22px;
}
.project_card .showcase_card_tech {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.showcase_card_list {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #DB4747;
}
.project_card .project_img{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 320px;
    height: 188px;
    margin-bottom: 29px;
    /* margin-top: 22px; */
    margin-left: 16px;
}
.project_card p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    padding-left: 26px;
    padding-bottom: 29px;
}
.live {
    display: flex;
    padding-top: 20px;
}
.live p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4747;
}
.live img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
.source_code {
    display: flex;
    padding-top: 20px;
}
.source_code p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4747;
}
.source_code img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}